# dependencies
env/
/frontend/.pnp
frontend.pnp.js
src/frontend/node_modules
src/frontend/node_modules/*

# testing
/frontend/coverage

# production
/frontend/build

# misc
env/
.vscode/
frontend/.DS_Store
frontend/.env.local
frontend/.env.test.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
src/backend/db/__pycache__/
frontend/.env.production.local
frontend/.env.development.local

# private files
.env
eventos.db
src/backend/eventos.db
src/backend/db/eventos.db