# dependencies
env/
/frontend/node_modules
/frontend/.pnp
frontend.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
.vscode/
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.vscode/

src/backend/db/eventos.db

env/

src/backend/db/__pycache__/
src/backend/eventos.db
.env

# private files
.env
eventos.db